@model IEnumerable<Drank>


@{
  ViewBag.Title = "Drank list";
}


<div >
  <button [disabled]="!CanFirst()" (click)="First()">First</button>
  <button [disabled]="!CanPrev()" (click)="Prev()">Previous</button>
  <button [disabled]="!CanNext()" (click)="Next()">Next</button>
  <button [disabled]="!CanLast()" (click)="Last()">Last</button>
  <br/>
  <br/> Search by TAG:
  <input type="text" [(ngModel)]="Search" placeholder="Enter the Tag here" />

  <table>
    <tr class="header">
      <th>Id</th>
      <th>Name</th>
      <th>NameBrand</th>
      <th>Meer details</th>
     
      <th></th>
    </tr>
    @foreach (var Drank in Model)
    {
        <tr>
            <td>@Drank.Id</td>
             <td>@Drank.name</td>
            <td>@Drank.NameBrand</td>
            <td><a routerLink="/details/{{r.Id}}">
            <button> Meer info</button>
            </a></td>
           
           
        </tr>
    }
       
      </td>
    </tr>
  </table>
</div>